* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

main {
  justify-content: center;
  display: grid;
  align-content: center;
  height: fit-content;
  width: 30vw;
  background-color: beige;
}

ul {
  justify-content: space-evenly;
  padding: 0;
  display: flex;
  list-style: none;
}

button {
  background-color: seagreen;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 4px;
}

p {
  border: 4px groove gray;
  justify-self: center;
  width: 90%;
  height: 20vh;
  background-color: white;
}
